* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* background: linear-gradient(180deg, #111, #fff); */
    background: #111;
    display: flex;
    flex-direction: column;
}

.main-nav-link,
.main-nav-link:hover {
    color: inherit;
    text-decoration: none;
}

.main-navigation {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;;
}

.main-navigation img {
    display: inline-block;
    height: 70%;
}

.main-navigation ul {
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}


.main-navigation ul li {
    height: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    color: #ccc;
    transition: 0s all;
}

.main-navigation ul li:hover {
    border-bottom: 1px solid #D51840;
    color: #D51840;
    font-weight: 700;
}

footer {
    height: 60px;
    padding: 10px;
    color: #888;
    font-size: 0.8em;
}